.hero {
  background: var(--color-primary);
  color: var(--color-white);
  /* padding-top: 5rem; */
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero-right {
  /* background-image: url('../../assets/headerImg.png');
  background-position: bottom;
  background-repeat: no-repeat; */
}